name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Rustup
      run: rustup target add wasm32-unknown-unknown
    - name: Build
      run: cargo build --target=wasm32-unknown-unknown --release
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: artifacts
        path: target
